absl-py==2.1.0
africastalking==1.2.9
alembic==1.16.2
annotated-types==0.7.0
anyio==4.9.0
asgiref==3.8.1
astunparse==1.6.3
Brotli==1.1.0
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
click==8.2.1
Django==5.2.3
dnspython==2.7.0
fastapi==0.115.13
filelock==3.13.1
flatbuffers==24.3.25
fsspec==2024.6.1
gast==0.6.0
google-pasta==0.2.0
greenlet==3.2.3
grpcio==1.62.2
h11==0.16.0
h2==4.1.0
h5py==3.12.1
hf-xet==1.1.5
hpack==4.0.0
huggingface-hub==0.33.1
hyperframe==6.0.1
idna==3.10
importlib_metadata==8.5.0
Jinja2==3.1.4
joblib==1.5.1
keras==3.6.0
Mako==1.3.10
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
ml_dtypes==0.4.0
mpi4py==4.0.1
mpmath==1.3.0
namex==0.0.8
networkx==3.3
numpy==2.3.1
opencv-python==4.11.0.86
opencv-python-headless==4.11.0.86
opt_einsum==3.4.0
optree==0.13.0
packaging==24.1
pillow==11.2.1
protobuf==5.29.3
psycopg2-binary==2.9.10
pycparser==2.22
pydantic==2.11.7
pydantic_core==2.33.2
Pygments==2.18.0
pymongo==4.13.2
PySocks==1.7.1
python-decouple==3.8
python-dotenv==1.1.1
python-multipart==0.0.20
PyYAML==6.0.2
regex==2024.11.6
requests==2.32.3
rich==13.9.2
safetensors==0.5.3
schema==0.7.7
scikit-learn==1.7.0
scipy==1.16.0
setuptools==78.1.1
six==1.16.0
sniffio==1.3.1
SQLAlchemy==2.0.41
sqlparse==0.5.3
starlette==0.46.2
sympy==1.13.3
tensorboard==2.18.0
tensorboard_data_server==0.7.0
tensorflow==2.18.1
termcolor==2.5.0
threadpoolctl==3.6.0
tokenizers==0.21.2
torch==2.7.1+cpu
torchvision==0.22.1+cpu
tqdm==4.67.1
transformers==4.53.0
typing-inspection==0.4.1
typing_extensions==4.12.2
urllib3==2.2.3
uvicorn==0.34.3
Werkzeug==3.0.4
wheel==0.45.1
wrapt==1.16.0
zipp==3.20.2
zstandard==0.22.0
